@keyframes insert-node {
    from {
      transform: translateX(0px);
        opacity: 1;
        background:rgb(234, 88, 12);
      }
    
      to {
        transform: translateX( var(--end));
        opacity: 1;
       
      }
  }

  @keyframes pop-node {
    from {
        opacity: 1;
        background: rgb(220, 38, 38);
      }
    
      to {
        opacity: 0;
       
      }
  }