
.module-description{
    width: 100%;
    overflow-x: auto;

}
.module-description .arrow-right{
    content: "\00BB";
}
.module-description .arrow-left{
    content: "\00AB";
}
.module-description .arrow-right::before{
    content: "\00BB";
}
.module-description .arrow-left::before{
    content: "\00AB";
}

.module-description .dot{
    content: "\2022";
}
.module-description .dot::before{
    content: "\2022";
}


.module-description .bigO{
    background-color: var(--app-bauhaus-indigo-50);
    border-color: var(--app-bauhaus-indigo);
    border-width: 1px;
    border-style: solid; 
    /* border-bottom: 1px solid ; */
    border-radius: 5px;
    padding: 0.1rem 0.3rem;
    font-size: 0.7rem;
    font-weight: 500;
    white-space: nowrap;
}

.operations-section .operation-item .operation-title{
  
    padding:0 0.2rem;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    font-size: 1rem;
    color: var(--app-off-white) !important; 

}

.operations-section .indigo{
    background-color: var(--app-bauhaus-indigo);
    border-color: var(--app-bauhaus-indigo);
}
.operations-section .green{
    background-color: var(--app-bauhaus-green);
    border-color: var(--app-bauhaus-green);
}
.operations-section .yellow{
    background-color: var(--app-bauhaus-yellow);
    border-color: var(--app-bauhaus-yellow);
}   
.operations-section .red{
    background-color: var(--app-bauhaus-red);
    border-color: var(--app-bauhaus-red);
}
.operations-section .blue{
    background-color: var(--app-bauhaus-blue);
    border-color: var(--app-bauhaus-blue);
}   
.operations-section .orange{
    background-color: var(--app-bauhaus-orange);
    border-color: var(--app-bauhaus-orange);
}   


