@keyframes find-node-dark {

  50% {
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 5px;
  }

}
@keyframes find-node-light {

  50% {
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 5px;
  }

}

@keyframes del-node {
  0% {
  
  }

  50% {
    box-shadow: rgb(255, 85, 85) 0px 0px 0px 15px,rgba(255, 85, 85,0.3) 0px 0px 0px 10px ;
  }

  100% {
    
  }
}
@keyframes get-node {
  0% {
  
  }

  50% {
    box-shadow: rgba(202, 138,4 ) 0px 0px 0px 15px;
  }

  100% {
  
  }
  
}
@keyframes add-node {
  0% {
  
  }

  50% {
    box-shadow: rgba(74, 222, 128) 0px 0px 0px 15px;
  }

  100% {
  
  }
  
}
@keyframes lit-node-edge {
  0% {
    opacity: 0.5;
    z-index: 99;
   
  }

  80% {
    opacity: 1;
   
  }

  100% {
   
    opacity: 0.5;
  }
}
