@keyframes find-node {
  0% {
    transform: scale(1);
    
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes get-node {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
@keyframes lit-node-edge {
  0% {
    opacity: 0.5;
    z-index: 99;
   
  }

  80% {
    opacity: 1;
   
  }

  100% {
   
    opacity: 0.5;
  }
}
