@keyframes insert-node {
  0% {
    scale: 1;
    background: rgba(250, 204, 21, 0);
    border-color: rgba(250, 204, 21, 0);
  }

  50% {
    transform: scale(1.2);
    background: var(--app-bauhaus-green);
    border-color: var(--app-bauhaus-green);
  }

  100% {
    transform: scale(1);
    background: rgba(250, 204, 21, 0);
    border-color: rgba(250, 204, 21, 0);
  }
}
@keyframes find-node {
  0% {
    scale: 1;
    background: rgba(250, 204, 21, 0);
    border-color: rgba(250, 204, 21, 0);
  }

  50% {
    transform: scale(1.4);
    background: var(--app-bauhaus-blue);
    border-color: var(--app-bauhaus-blue);
  }

  100% {
    transform: scale(1);
    background: rgba(250, 204, 21, 0);
    border-color: rgba(250, 204, 21, 0);
  }
}
@keyframes disable-node {
  to {
    opacity: 0.4;
    transform: scale(0.8);
  }
}
@keyframes enable-node {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes compare-node {
  0% {
    scale: 1;
    background: rgba(250, 204, 21, 0);
    border-color: rgba(250, 204, 21, 0);
  }

  50% {
    transform: scale(1.2);
    background: var(--app-bauhaus-yellow);
    border-color: var(--app-bauhaus-yellow);
  }

  100% {
    transform: scale(1);
    background: rgba(250, 204, 21, 0);
    border-color: rgba(250, 204, 21, 0);
  }
}
@keyframes lit-node-edge {
  0% {
    opacity: 0.5;
    z-index: 99;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}
