
@keyframes find-node {
    0% {
      scale: 1;
      background: rgba(250, 204, 21, 0);
      border-color: rgba(250, 204, 21, 0);
    }
  
    50% {
      transform: scale(1.2);
      background: rgba(250, 204, 21);
      border-color: rgba(250, 204, 21);
    }
  
    100% {
      transform: scale(1);
      background: rgba(250, 204, 21, 0);
      border-color: rgba(250, 204, 21, 0);
    }
  }
  @keyframes search-node {
  
  

    to {
      background-color: rgba(96, 165, 250);
  
      color: white;
    }
  
    
  }

  @keyframes disable-node {
    to {
      opacity: 0.4;
     
    }
  }
  @keyframes enable-node {
    to {
      opacity: 1;
  
    }
  }

  @keyframes move-node{
    from {
      left: var(--left_from);
      bottom: var(--bottom_from);
     
    }
  
    to {
      left: var(--left_to);
      bottom: var(--bottom_to);
      background-color:var(--color);
   
    }
  }